<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-button shape="round" class="add_button" (click)="recordVideo()">
      <ion-icon name="add"></ion-icon>
    </ion-button>

    <ion-tab-button>
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chatbox">
      <ion-icon name="chatbox-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>