<ion-header>
  <ion-toolbar></ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="scan-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list-header>
    <ion-label>Stories</ion-label>
  </ion-list-header>

  <div class="scroll_box">
    <div class="story_box" style="background-image: url(assets/images/photo-1.jpg); background-size: cover;">
      <ion-avatar>
        <img src="assets/images/photo-profil-1.jpeg" alt="" srcset="">
      </ion-avatar>
      <ion-badge>
        <ion-icon name="add"></ion-icon>
      </ion-badge>
      <p>Pink</p>
    </div>
    <div class="story_box" style="background-image: url(assets/images/photo-2.jpg);background-size: cover;">
      <ion-avatar><img src="assets/images/photo-profil-2.png"></ion-avatar>
      <ion-badge>
        <ion-icon name="add"></ion-icon>
      </ion-badge>
      <p>Jessie</p>
    </div>
    <div class="story_box" style="background-image: url(assets/images/photo-7.jpg);background-size: cover;">
      <ion-avatar><img src="assets/images/photo-profil-7.png"></ion-avatar>
      <ion-badge>
        <ion-icon name="add"></ion-icon>
      </ion-badge>
      <p>Lisa</p>
    </div>
    <div class="story_box" style="background-image: url(assets/images/photo-3.jpeg);background-size: cover;">
      <ion-avatar><img src="assets/images/photo-profil-3.jpg"></ion-avatar>
      <ion-badge>
        <ion-icon name="add"></ion-icon>
      </ion-badge>
      <p>Tof</p>
    </div>
    <div class="story_box" style="background-image: url(assets/images/photo-4.jpg);background-size: cover;">
      <ion-avatar><img src="assets/images/photo-profil-4.jpg"></ion-avatar>
      <ion-badge>
        <ion-icon name="add"></ion-icon>
      </ion-badge>
      <p>Quentin</p>
    </div>
  </div>

  <ion-list-header>
    <ion-label>Tendances</ion-label>
  </ion-list-header>

  <div class="scroll_box">

    <div class="trend_box" style="background-image: url(assets/images/photo-trending-5.jpg);background-size: cover;">
      <p>27.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(assets/images/photo-trending-1.jpg);background-size: cover;">
      <p>10.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(assets/images/photo-trending-2.jpg);background-size: cover;">
      <p>20.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(assets/images/photo-trending-3.jpg);background-size: cover;">
      <p>8.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(assets/images/photo-trending-4.jpeg);background-size: cover;">
      <p>7.8M</p>
    </div>
  </div>

  <ion-list-header>
    <ion-label>#Happy</ion-label>
    <ion-button color="medium" fill="solid">Voir plus</ion-button>
  </ion-list-header>

  <div class="scroll_box">

    <div class="trend_box" style="background-image: url(assets/images/photo-happy-1.jpg);background-size: cover;">
      <p>27.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(assets/images/photo-happy-2.jpg);background-size: cover;">
      <p>10.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(assets/images/photo-happy-3.png);background-size: cover;">
      <p>20.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(assets/images/photo-happy-4.jpg);background-size: cover;">
      <p>8.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(assets/images/photo-happy-5.jpg);background-size: cover;">
      <p>7.8M</p>
    </div>
  </div>
</ion-content>