<ion-content>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="video_box">
        <video loop="true" preload="auto" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
          class="videoPlayer">
          <source src="assets/videos/video-feed-1.mp4" type="video/mp4">
        </video>
        <h3 class="title">@pink <ion-icon name="checkmark"></ion-icon>
        </h3>
        <p class="description">What's your favorite color ? #fashion</p>

        <div class="song">
          <ion-icon name="musical-notes"></ion-icon>
          <div class="scroll_text">
            <p>Original sound - pink</p>
          </div>
        </div>

        <div class="button_box">

          <div class="avatar_box">
            <ion-avatar><img src="assets/images/photo-profil-1.jpeg"></ion-avatar>
            <ion-badge>
              <ion-icon name="add"></ion-icon>
            </ion-badge>
          </div>


          <div class="icon_box">
            <ion-icon name="heart-sharp"></ion-icon>
            <p>93.8K</p>
          </div>
          <div class="icon_box">
            <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
            <p>842</p>
          </div>
          <div class="icon_box">
            <ion-icon name="arrow-redo-sharp"></ion-icon>
            <p>689</p>
          </div>

          <div class="avatar_box_2">
            <ion-avatar><img src="assets/images/photo-profil-2.png"></ion-avatar>
          </div>
        </div>
        <img class="gif_music" src="assets/images/music-note.gif">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="video_box">
        <video loop="true" preload="auto" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
          class="videoPlayer">
          <source src="assets/videos/video-feed-2.mp4" type="video/mp4">
        </video>
        <h3 class="title">@pink <ion-icon name="checkmark"></ion-icon>
        </h3>
        <p class="description">What's your favorite color ? #fashion</p>

        <div class="song">
          <ion-icon name="musical-notes"></ion-icon>
          <div class="scroll_text">
            <p>Original sound - pink</p>
          </div>
        </div>

        <div class="button_box">

          <div class="avatar_box">
            <ion-avatar><img src="assets/images/photo-profil-1.jpeg"></ion-avatar>
            <ion-badge>
              <ion-icon name="add"></ion-icon>
            </ion-badge>
          </div>


          <div class="icon_box">
            <ion-icon name="heart-sharp"></ion-icon>
            <p>93.8K</p>
          </div>
          <div class="icon_box">
            <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
            <p>842</p>
          </div>
          <div class="icon_box">
            <ion-icon name="arrow-redo-sharp"></ion-icon>
            <p>689</p>
          </div>

          <div class="avatar_box_2">
            <ion-avatar><img src="assets/images/photo-profil-2.png"></ion-avatar>
          </div>
        </div>
        <img class="gif_music" src="assets/images/music-note.gif">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="video_box">
        <video loop="true" preload="auto" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
          class="videoPlayer">
          <source src="assets/videos/video-feed-3.mp4" type="video/mp4">
        </video>
        <h3 class="title">@pink <ion-icon name="checkmark"></ion-icon>
        </h3>
        <p class="description">What's your favorite color ? #fashion</p>

        <div class="song">
          <ion-icon name="musical-notes"></ion-icon>
          <div class="scroll_text">
            <p>Original sound - pink</p>
          </div>
        </div>

        <div class="button_box">

          <div class="avatar_box">
            <ion-avatar><img src="assets/images/photo-profil-3.jpg"></ion-avatar>
            <ion-badge>
              <ion-icon name="add"></ion-icon>
            </ion-badge>
          </div>


          <div class="icon_box">
            <ion-icon name="heart-sharp"></ion-icon>
            <p>93.8K</p>
          </div>
          <div class="icon_box">
            <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
            <p>842</p>
          </div>
          <div class="icon_box">
            <ion-icon name="arrow-redo-sharp"></ion-icon>
            <p>689</p>
          </div>

          <div class="avatar_box_2">
            <ion-avatar><img src="assets/images/photo-profil-2.png"></ion-avatar>
          </div>
        </div>
        <img class="gif_music" src="assets/images/music-note.gif">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="video_box">
        <video loop="true" preload="auto" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
          class="videoPlayer">
          <source src="assets/videos/video-feed-4.mp4" type="video/mp4">
        </video>
        <h3 class="title">@pink <ion-icon name="checkmark"></ion-icon>
        </h3>
        <p class="description">What's your favorite color ? #fashion</p>

        <div class="song">
          <ion-icon name="musical-notes"></ion-icon>
          <div class="scroll_text">
            <p>Original sound - pink</p>
          </div>
        </div>

        <div class="button_box">

          <div class="avatar_box">
            <ion-avatar><img src="assets/images/photo-profil-1.jpeg"></ion-avatar>
            <ion-badge>
              <ion-icon name="add"></ion-icon>
            </ion-badge>
          </div>


          <div class="icon_box">
            <ion-icon name="heart-sharp"></ion-icon>
            <p>93.8K</p>
          </div>
          <div class="icon_box">
            <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
            <p>842</p>
          </div>
          <div class="icon_box">
            <ion-icon name="arrow-redo-sharp"></ion-icon>
            <p>689</p>
          </div>

          <div class="avatar_box_2">
            <ion-avatar><img src="assets/images/photo-profil-2.png"></ion-avatar>
          </div>
        </div>
        <img class="gif_music" src="assets/images/music-note.gif">
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>